# P7 Airport Cancellations

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import sklearn as sk 
import psycopg2 as psy
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA as sklearnPCA
import plotly.plotly as py
from plotly.graph_objs import *
import plotly.tools as tls
import plotly.graph_objs as go
%matplotlib inline
import sqlalchemy

# you might be able to remove some

In [2]:
airport_cancellations = pd.read_csv('assets/airport_cancellations.csv')
airport_operations = pd.read_csv('assets/Airport_operations.csv')
airports = pd.read_csv('assets/airports.csv')

### Problem Statement

The FAA wants to cut down on delays nationwide, and the most important part of this task is understanding the characteristics and groupings of airports based on a dataset of departure and operational delays.

### Examine Data

In [3]:
airport_cancellations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 805 entries, 0 to 804
Data columns (total 6 columns):
Airport                    805 non-null object
Year                       805 non-null float64
Departure Cancellations    805 non-null float64
Arrival Cancellations      805 non-null float64
Departure Diversions       805 non-null float64
Arrival Diversions         805 non-null float64
dtypes: float64(5), object(1)
memory usage: 37.8+ KB

In [5]:
airport_cancellations.describe(include='all')

,Airport,Year,Departure Cancellations,Arrival Cancellations,Departure Diversions,Arrival Diversions
count,805,805.000000,805.000000,805.000000,805.000000,805.000000
unique,74,NaN,NaN,NaN,NaN,NaN
top,LAS,NaN,NaN,NaN,NaN,NaN
freq,11,NaN,NaN,NaN,NaN,NaN
mean,NaN,2008.986335,1292.038509,1333.124224,173.315528,169.413665
std,NaN,3.158116,1835.961943,1975.224868,172.345539,228.521615
min,NaN,2004.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,2006.000000,349.000000,314.000000,62.000000,41.000000
50%,NaN,2009.000000,663.000000,642.000000,110.000000,84.000000
75%,NaN,2012.000000,1472.000000,1523.000000,236.000000,190.000000
max,NaN,2014.000000,16618.000000,17571.000000,1064.000000,1948.000000

In [6]:
airport_cancellations.Airport.value_counts()

LAS    11
MHT    11
OAK    11
DCA    11
PVD    11
SEA    11
TPA    11
BWI    11
PHL    11
BUF    11
DAY    11
ONT    11
SAT    11
RDU    11
MEM    11
ISP    11
IAH    11
BUR    11
SWF    11
SJC    11
TUS    11
MKE    11
SMF    11
MSY    11
MIA    11
ATL    11
BOS    11
MDW    11
HNL    11
MSP    11
       ..
CLE    11
LGA    11
SNA    11
SFO    11
SDF    11
PHX    11
LAX    11
IND    11
ORD    11
OGG    11
RSW    11
PIT    11
OMA    11
MCO    11
SLC    11
DFW    11
IAD    11
SJU    11
ABQ    11
AUS    11
HOU    11
HPN    11
CLT    11
EWR    11
BNA    11
PBI    11
DAL    11
JFK    11
OXR     7
RFD     6
Name: Airport, dtype: int64

Noticed 11 for all except OXR and RFD

In [15]:
# join databases

In [16]:
#eliminate duplicate columns in joined database

### Part 3: Data Mining

In [17]:
# dummies

In [18]:
#drop columns that don't provide useful data

In [19]:
#check data normality

### PCA: Manual and sklearn

In [20]:
#establish dataframe for PCA and isolate target variable

In [21]:
#standardizing values for PCA

In [22]:
#dataframe to more easily view the covariance matrix

In [23]:
#get eigenvalues and eigenvectors from the covariance matrix

In [24]:
# Make a list of (eigenvalue, eigenvector) tuples

# Sort the (eigenvalue, eigenvector) tuples from high to low

# Visually confirm that the list is correctly sorted by decreasing eigenvalues

In [25]:
#sklearn PCA model

In [26]:
# make table of correlations with our original dimensions and the principal components

### 3D Plot dataset with PCA applied

## Executive Summary and conclusions

Score: | /30
    ----|----
Identify: Problem Statement + Goals |
Acquire: Create Postgres database + Join tables |
Parse: Query Data + Describe Risks/Assumptions|
Parse: 3D Plot and describe data|
Mine: Format and clean data|
Refine: Define distribution and correlations|
Model: Conduct PCA manually and with sklearn|
Present: Create formal report: problem, findings, examples, recommendations|
Dynamic Tableau visualization|
Create blog post summary|